.header {
  position: fixed;
  height: 100px;
  &-nav {
    width: 100%;
    height: auto;
    padding: 0 50px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    &-links {
      padding: 0;
      display: flex;
      .active {
        border-bottom: 1px solid rgb(38, 153, 219);
        padding-bottom: 8px;
      }
      li {
        margin: 0 1em;
        a {
          color: #fff;
          font-size: 18px;
          text-decoration: none;
        }
      }
    }
  }
}