header {
  position: fixed;
}
nav {
  width: 100%;
  height: auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  .nav-menu {
    height: 100%;
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    li {
      width: 15%;
      margin: 0 1em;
      list-style: none;
      text-align: center;
      padding: 10px;
      transition: all 0.3s;
      &:hover {
        border: 1px solid rgb(28, 112, 67);
        border-radius: 5px;
      }
    }
  }
  .nav-menu-options {
    padding-right: 45px;
    a {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      font-family: $roboto;
    }
  }
}
.nav-logo {
  img {
    width: 20%;
    height: auto;
    object-fit: cover;
    margin: 0.5em;
  }
}
.nav-menu-options {
  height: 100%;
  .subscription-button {
    padding: 10px;
    background: linear-gradient(
      90deg,
      #2cc774 0%,
      #055252 100%,
      rgba(229, 229, 229, 0) 100%
    );
    border-radius: 5px;
    transition: all 0.3s;
    border: none;
    &:hover {
      transform: scale(0.9);
    }
  }
}
ul {
  height: 100%;
}
.nav-label {
  margin: 0 5px 0 0;
  font-size: 27px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}
#toggle {
  display: none;
}
